<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OpenVPN.Properties.Settings.OpenVPNConnectionString"
            connectionString="Data Source=DESKTOP-P4F8D8S\SQLEXPRESS;Initial Catalog=OpenVPN;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="OpenVPN.Properties.Settings.nuss_ERPSConnectionString"
            connectionString="Data Source=172.16.0.7;Initial Catalog=nuss_ERPS;Persist Security Info=True;User ID=sa;Password=P@ssw0rdbebo"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>